* {
  text-align: center;
  color: white;
  background-color: black;
  /* border: 1px solid blue; */
}
body {
  width: 75%;
  margin: 0 auto;
  align-content: center;
}
h3 {
  margin: 0;
}
#score-title {
  justify-self: start;
}
.area {
  display: flex;
  justify-content: center;
}
#game-area {
  justify-content: center;
  margin: 0 auto;
}
#player-area,
#score-area,
#choices-area,
#scores-container {
  flex-direction: column;
}

#score-area {
  justify-content: flex-start;
}

#scores-container {
  margin-top: 20px;
  gap: 80px;
}
#choices-area {
  align-items: center;
  justify-self: flex-start;
  padding-left: 60px;

  gap: 20px;
}
.score-container {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  background-color: #fcf2f1;
  color: black;
  line-height: 70px;
  font-size: 2em;
}
.choice-container {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: #fcf2f1;
}

#player-choice {
  gap: 20px;
  margin-bottom: 50px;
}
#reset {
  width: 100px;
  height: 50px;
}

button {
  align-self: center;
  background-color: #fcf2f1;
  color: black;
}

.play {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  border: 2px solid black;
}

#rock {
  background: url(./images/rock.png) center no-repeat;
  background-size: 100% 100%;
}

#paper {
  background: url(./images/paper.png) center no-repeat;
  background-size: 100% 100%;
}
#scissors {
  background: url(./images/scissors.png) center no-repeat;
  background-size: 100% 100%;
}
